<!DOCTYPE html>
<html ng-app="factoryModule">
<head>
    <title>.: --- FACTORYY ----:.</title>
    <meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="app/factoryController.js"></script>
</head>
<body ng-controller="ToDoController">
    <ul>
        <li ng-repeat="actividad in todo">
            {{actividad.descripcion}} - {{actividad.fecha | date: 'short'}} - <a href="#" ng-click="removeAct(actividad)" style="color: red">X</a>
        </li>
    </ul>
    <form ng-submit="addAct()">
        <input type="text" ng-model="newAct.descripcion" />
        <input type="datetime-local" ng-model="newAct.fecha" /> <br />
        <input type="submit" value="save activity" />
    </form>
    <button ng-click="clean()">Clean all</button>
</body>
</html>
